#head {
	text-align:center;
	color: white;
	background-color: blue;
	ba
}

#form {
	background-color: #ffc107;
	width: 50%;
	font-style: "TIMES NEW ROMAN";
	font-size: 150%;
	color: white;
	padding: 20px;
	margin: auto;
}

